<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">Plasma in Practice</h2>
                    <p class="aboutus-text" data-aos='slide-up'>Plasma surface treatment is extremely versatile and used in a range of industries. It can enhance biocompatibility, prevent moisture absorption thru hydrophobic treatments, and it improves functionalization and adhesion ― all from a value-driven, green alternative to harsh chemical techniques. It even extends treatment lifetime from days to years.</p>
                    <p class="aboutus-text" data-aos='slide-up'>Materials ranging from ceramics, polymers, elastomers and metal assemblies are all good candidates for plasma treatment. In fact, plasma treatment actually boosts production yields by reducing defects caused by insufficient bonding of paints, inks, moldings and other coatings. Building plasma treatment into your manufacturing process upstream can eliminate defective application performance downstream.</p>
                    <a class="aboutus-more" href="#" data-aos='slide-up'>read more</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12" style="border-style: solid;">
                <div class="aboutus-banner">
                    <img src="" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content" data-aos='slide-up'>
                                <h4>Pharmaceutical</h4>
                                <p>Improving adhesion of coatings used in drug delivery</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content" data-aos='slide-up'>
                                <h4>Optical</h4>
                                <p>Preparation of polycarbonate lenses for improved coating adhesion</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content" data-aos='slide-up'>
                                <h4>Aerospace</h4>
                                <p>Cleaning of metals for over molding for use in jet engine components</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content" data-aos='slide-up'>
                                <h4>Automotive</h4>
                                <p>Improve the adhesion of gaskets to other dissimilar materials</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content" data-aos='slide-up'>                                
                                <h4>Electronics</h4>
                                <p>Treatment of piezo flow sensors for vibration tolerance</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content" data-aos='slide-up'>
                                <h4>Consumer Goods</h4>
                                <p>Improving surface adhesion of tires to wheels in remote control cars</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>