<div class="container">
  <div class="row">
      <div>
          <div class="panel">
              <!--<div class="panel-heading">
                  <div class="row">
                      <div class="col col-sm-3 col-xs-12">
                          <h4 class="title">Making Procedure and Ingredients of Beer</h4>
                      </div>
                      <div class="col-sm-9 col-xs-12 text-right">
                          <div class="btn_group">
                              <input type="text" class="form-control" placeholder="Search">
                              <button class="btn btn-default" title="Reload"><i class="fa fa-sync-alt"></i></button>
                              <button class="btn btn-default" title="Pdf"><i class="fa fa-file-pdf"></i></button>
                              <button class="btn btn-default" title="Excel"><i class="fas fa-file-excel"></i></button>
                          </div>
                      </div>
                  </div>
              </div>-->
              <div class="tableHead">
                <h4 class="title">Making Procedure and Ingredients of Beer</h4>
                <input type="text" #t1 class="searcheinput" placeholder="Search">
            </div>
              <div class="panel-body table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Tagline</th>
                            <th>First Brewed</th>           
                            <th>PH level</th>
                            <th>attenuation level</th>                        
                            <th>Food Pairing</th> 
                            <th>Brewers Tips</th>           
                            <th>volume</th>   
                            <th>Boil Volume</th>              
                            <th>Method(Mash_temp)</th>
                            <th>Method(Fermentation)</th>
                            <th>Method(Twist)</th>
                            <th>Ingredients(Malt)</th>
                            <th>Ingredients(Hops)</th>
                            <th>Ingredients(Yeast)</th>  
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let i of beer | paginate: {itemsPerPage: 5, currentPage: p};">
                            <td>{{i.id}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.tagline}}</td>
                            <td>{{i.first_brewed}}</td>           
                            <td>{{i.ph}}</td>
                            <td>{{i.attenuation_level}}</td>                        
                            <td>{{i.food_pairing}}</td>     
                            <td>{{i.brewers_tips}}</td>       
                            <td>
                                <ul>
                                    <li>{{i.volume['value']}} {{i.volume['unit']}}</li>                    
                                </ul>
                            </td>          
                            <td>
                                <ul>
                                    <li>{{i.boil_volume['value']}} {{i.boil_volume['unit']}}</li>                    
                                </ul>
                            </td>           
                            <td>
                                <ul>
                                    <li *ngFor="let m of i.method['mash_temp'];">{{m.temp['value']}}&deg; {{m.temp['unit']}}</li>                    
                                </ul>
                            </td>
                           <td>
                               <ul>
                                   <li>{{i['method']['fermentation']['temp']['value']}}&deg; {{i['method']['fermentation']['temp']['unit']}}</li>
                               </ul>            
                            </td>
                            <td>{{i.method['twist']}}</td>  
                            <td>
                                <ul>
                                    <li *ngFor="let m of i.ingredients['malt'];">{{m.name}}  {{m.amount['value']}}  {{m.amount['unit']}}</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li *ngFor="let h of i.ingredients['hops'];">{{h.name}} at {{h.add}} {{h.amount['value']}} {{h.amount['unit']}} as {{h.attribute}}</li>
                                </ul>
                            </td>
                            <td>{{i.ingredients['yeast']}}</td>    
                              <td>
                                  <ul class="action-list">
                                      <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                      <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                  </ul>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              
              <div class="panel-footer">
                  <div class="row">
                      <div class="col col-sm-6 col-xs-6">Showing 5 Items per page <b></b> </div>
                      <div class="col-sm-6 col-xs-6">
                          <ul class="pagination hidden-xs pull-right">
                            <pagination-controls (pageChange)="p=$event" class="float-right my-pagination" ></pagination-controls>
                              <!--<li><a href="#"></a></li>
                              <li class="active" (pageChange)="p=$event"><a href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#"></a></li>-->
                          </ul>                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
