<div class="aboutus-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            <div>
                <div class="aboutus-content ">
                    <div class="text-center"><h1>Specialized  <span>Membranes</span></h1></div>
                    <h4>Untreated/Treated for Filtration Applications</h4>
                    <p data-aos="fade-up">Membranes are thin sheets of semi-permeable material used to separate contaminants from water when a driving force is applied. Membrane processes are increasingly used for removal of bacteria, particulates, microorganisms, and natural organic material.</p>
                    <p data-aos="fade-up">Types of Membranes we Offer
                        We offer membranes with a variety of styles, pore sizes and applications. Some filter media polymers we sell are:</p>
                    <div class="counter ">
                        
                        <div class="single-counter text-center" data-aos="flip-up">
                            <h2 class="counter">PTFE</h2>
                            <p>polytetrafluoroethylene</p>
                        </div>
                        
                        <div class="single-counter text-center" data-aos="flip-right">
                            <h2 class="counter">PES</h2>
                            <p>polyether sulfone</p>
                        </div>
                        
                        <div class="single-counter text-center" data-aos="flip-down">
                            <h2 class="counter">PVDF</h2>
                            <p>polyvinylidene fluoride</p>
                        </div>
                        
                        <div class="single-counter text-center" data-aos="flip-left">
                            <h2 class="counter">PP</h2>
                            <p>Polypropylene</p>
                        </div>
                        
                    </div>
                    
                </div>
            </div>    
            </div>
        </div>
    </div>
</div>