<div class="jumbotron">
    <div class="container">
      <h1 style="color: rgb(106, 23, 122);">Food and Beverage Industry Overview: Why Bearing Materials Matter</h1>      
      <p id="p1" class="text-center" style="color: black;" data-aos='zoom-in-up'>The Food and Beverage Industry is large, diverse, and full of specialized machinery. It’s one of the oldest industries on the planet, but still full of innovation. From new products to higher-volume, lower-cost production techniques, this industry is always looking for new ways to produce the food consumers want at the best possible price. And vital equipment is there every step of the way. From simple ovens and conveyor belts to complex bottling and packaging machines, the food and beverage industry depends on equipment for industrial-scale food production.
  
        In this article, we provide a brief overview of this essential industry and look at the unique challenges its equipment presents for components like bearings. Finally, we take a look at how TriStar has used our materials expertise to solve engineering pain points for Food and Beverage companies. Advanced polymers and composites are a powerful solution for clean, greaseless operation in food processing and packaging facilities.</p>
    </div>
  </div>
    
  <div class="container-fluid bg-3 text-center">    
    <h3>Some Portfolios</h3><br>
    <div class="row scaleUp">
      <div class="col-sm-3" data-aos="zoom-in-up">
        <p>Some text..</p>      
        <img src="assets/fb1.jpg" class="img-responsive" height="100px" width="100px" alt="Image">
      </div>
      <div class="col-sm-3" data-aos="zoom-in-up"> 
        <p>Some text..</p>
        <img src="assets/fb2.jpg" class="img-responsive" height="100px" width="100px" alt="Image">
      </div>
      <div class="col-sm-3" data-aos="zoom-in-up"> 
        <p>Some text..</p>
        <img src="assets/fb3.jpg" class="img-responsive" height="100px" width="100px" alt="Image">
      </div>
      <div class="col-sm-3" data-aos="zoom-in-up">
        <p>Some text..</p>
        <img src="assets/fb4.jpg" class="img-responsive" height="100px" width="100px" alt="Image">
      </div>
    </div>
  </div><br>
  
  <div class="container-fluid bg-3 text-center">    
    <h3>Accounting for Direct and Embedded Imports in the U.S. Food and Beverage Dollar</h3><br>
    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-3">

      </div>
      <div class="col-sm-3"> 
        
      </div>
      <div class="col-sm-3">
       
      </div>
    </div>
  </div><br>
  
  